@import "apps/testnx/src/assets/styles/colors";

.results {
  text-align: center;
  border: 1px solid $black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $black;
  color: $white;
  height: 380px;
  overflow:hidden auto;
  position: relative;
  .main {
    min-height: 330px;
    ul {
      height: auto;
      text-align: left;
      padding: 15px;
      margin: 0;
      li {
        list-style: none;
        display: inline-block;
        color: $lightgreen;
        &:after {
          content: " , ";
        }
        &:last-child:after {
          content: "";
        }
      }
      &.possibles {
        li {
          a {
            color: $orangered;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .predictions {
    color: $white;
    height: 30px;
    width: 100%;
    background: $lightgrey;
    bottom: 0;
    ul {
      height: auto;
      margin: 0;
      padding: 5px 0;
      li {
        list-style: none;
        display: inline-block;
        background-color: $white;
        margin: 0 5px;
        padding: 0 5px;
        border-radius: 10px;
        a {
          color: $black;
          text-decoration: none;
        }
        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}


